<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../00_assets/angular.js"></script>
    <script src="./script.js"></script>
  </head>

  <body ng-app="myModule">
    <div ng-controller="myController">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
          </tr>
        </tbody>
      </table>

      <ul>
        <li ng-repeat="list in lists">
          {{ list.name }}
          <ul>
            <li ng-repeat="item in list.items">{{ item }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
